extends layout

- var gameColor = "red"
.game-field.perspective(class=gameColor)
  #player (You)
    .player_hand
      - var r = 0
      - var b = 0
      - var y = 0
      while r < 2
      .card.red(data-key=r++)
        .bckg
      while b < 2
      .card.blue(data-key=b++)
        .bckg
      .card.yellow
        .bckg
      .card.green
        .bckg
      .card.black
        .bckg

 #player_right Right Player
    .player_hand
      - var n = 0
      while n < 7
        .card.turned(data-index=n++)
          .bckg

  #player_left Left Player
    .player_hand
      - var n = 0
      while n < 7
        .card.turned(data-index=n++)
          .bckg
  #player_top Top Player
    .player_hand
      - var n = 0
      while n < 7
        .card.turned(data-index=n++)
          .bckg

  #piles_area
    #draw_pile
      .card.turned.top-card
        .bckg
      .card.turned.pile
        .bckg
    #discard_pile
      .card.top-card(class=gameColor)
        .bckg
      .card.pile
        .bckg